@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Karla:wght@400;500;600;700&display=swap');

:root {
    --heading-font: 'Karla', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    
    --primary-color: #293264;
    --secondary-color:#4D5B9E;
    --tertiary-color: #D6DBF5;
    
    --gray-color: #A1A9CD;
    --background-color: #F5F7FB;
    --green-color: #94D7A2;
    --red-color: #F8BCBC
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--primary-color);
}

body {
    background: var(--background-color);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.content {
    min-width: 80vw;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-blob {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: scale(1.8    );
    overflow: hidden;
}
.yellow-blob {
    position: fixed;
    right: -10rem;
    top: -5rem;
    overflow: hidden;
    transform: scale(1.5);
}